html {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

:root {
  --text: black;
  --bg: #ffe0a68c;
}

body {
  margin: 0;
  background-color: var(--bg);
  color: var(--text);
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-wrapper {
  padding: 0 2%;
  flex-grow: 1;
}

.main-footer,
.main-header {
  padding: 1%;
  display: flex;
  justify-content: center;
}

.header-title,
.footer-title {
  font-size: 1.2rem;
}
