html {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

:root {
  --text: black;
  --text-secondary: green;
  --bg: #ffefd18c;
  --item-border: yellow;
  --popup-bg: white;
  --popup-overlay: rgba(0, 0, 0, 0.6);
  --popup-title-border: #e0e0e0;
  --shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

a {
  color: var(--text-secondary);
}

body {
  margin: 0;
  background-color: var(--bg);
  color: var(--text);
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-wrapper {
  padding: 0 2%;
  flex-grow: 1;
}

.main-footer,
.main-header {
  padding: 1%;
  display: flex;
  justify-content: center;
}

.header-title,
.footer-title {
  padding: 1%;
  font-size: 1.2rem;
}

.results-container {
  padding: 1% 2%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.results-title {
  margin: 0;
  font-size: 1.4em;
  font-weight: 600;
}

.result-item {
  max-width: 400px;
  padding: 12px 15px;
  border-bottom: 1px solid #eee;
  border-left: 3px solid var(--item-border);
  border-radius: 10px;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  background-color: var(--popup-bg);
  box-shadow: var(--shadow);
}
.result-item:hover {
  cursor: pointer;
  transform: translateX(3px);
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--popup-overlay);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  opacity: 1;
  transition: opacity 0.1s ease-in-out;
}

.popup.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.popup-container {
  background: var(--popup-bg);
  border-radius: 8px;
  box-shadow: var(--shadow);
  padding: 20px 30px;
  max-width: 90%;
  width: 450px;
  transform: scale(1);
  transition: transform 0.1s ease-in-out;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--popup-title-border);
}

.popup-title {
  margin: 0;
  font-size: 1.4em;
  font-weight: 600;
}

.popup-close {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 30px;
  padding: 0 5px;
}

.popup-close:hover {
  cursor: pointer;
}

.popup-body {
  padding-top: 5px;
  font-size: 1em;
  color: var(--text-secondary);
}

.popup-content-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 12px 15px;
  align-items: baseline;
}

.popup-details-title {
  font-weight: 500;
  text-transform: capitalize;
  white-space: nowrap;
}

.popup-details {
  font-weight: 400;
  color: var(--text-color-secondary);
  word-break: break-word;
  line-height: 1.4;
}
